#button-back {
  position: absolute; 
  top:0px; 
  left:0px; 
  height:100vh; 
  z-index: 1;
  display: none;
}

div#button-back:hover {
  background-color: lightblue;
}


#top-link{
  cursor:pointer; /* изменяем указатель мыши при наведении на блок */
  /*display:none; */
  /* скрываем блок с кнопкой, т.к. отображать надо только при прокрутке */
  position:fixed; /* фиксируем расположение */
  left:0px;
  top:0px;
  height: 100vh;
  width: auto;
}
#top-link a{
  display:block; 
}








#footerleft {
    float: left;
    width:33.333%;
    text-align:left;
}

#footercenter {
    float: left;
    width: 33.333%;
    text-align: center;
}

#footerright {
    float: left;
    width:33.333%;
    text-align:right;
}


a.menu-signin-item {
  font-size: 18px; 
  margin-right: 10px;
}


/*
 * Globals
 */

/*html {overflow-y: scroll;}*/

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  /*color: #555;*/
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-weight: normal;*/
  color: #333;
}

.centeredImage {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}

.menu-item {
  font-size: 17px;
  font-weight: 100;
  padding-left: 20px;
  padding-right: 20px;
}

.menu-item.active {
  font-size: 26px;
  font-weight: 580;
}

a.menu-item {
  /*color: #333333;*/
  color: gray;
  text-decoration: none;
}
a.menu-item.active {
  color: #333333;
  text-decoration: none;
}

.header-menu-item {
  font-size: 19px;
  font-weight: 100;
  padding-left: 20px;
  padding-right: 20px;
}

.header-menu-item.active {
  font-size: 30px;
  font-weight: 580;
}

a.header-menu-item {
  /*color: #333333;*/
  color: gray;
  text-decoration: none;
}
a.header-menu-item.active {
  color: #333333;
  text-decoration: none;
}

.title a{
  color: black;
}

a.book-entry {
  /*color: black;*/
  /*color: #333333;*/
  /*text-decoration: none;*/
  /*font-weight: 880;*/
}


.nav-search {
  margin-left: 40px
}

.btn-search {
  margin-top: -3px;
  margin-left: -12px;
}

.search-bar {
  width: 70%;
  margin: 0 auto;
}

.search-item {
  display: inline-block;
}

.book-image {
  float: left;
  width: 110px;
  margin-right: 40px;
}

.book-entry {
  /*text-align: center*/
}

.authors {
  /*margin-left: 80px*/
}

.description {
  display: none
}

.title {
  margin-top: 10px;
  font-weight: 600;
}



.header {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  margin-bottom: 20px
}

#page-favorites {
  display: none;
}
#page-signout {
  display: none;
}


/*SIGN IN*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
