/*tags*/
.tagsinput {
  background-color: #fff;
  /*border: 1px solid #ccc;*/
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  /*display: inline-block;*/
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  /*border-radius: 4px;*/
  max-width: 100%;
  /*line-height: 22px;*/
  cursor: text;
}
.tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/*truncate long description*/
.truncate {
  max-width: 300px;
  /*width: auto;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*stars for rating*/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

/*add to favorites icon*/
.fa-bookmark-o:hover {
  color: grey;
  cursor: pointer;
}
.fa-bookmark:hover {
  cursor: pointer;
}

a:focus {
 outline: 0 none;
}

a:hover {
  cursor: pointer;
}

div.row img {
  width: 100%;
}

.question-container {
  border-bottom: 1px solid #e0e0e0;
  /*font-size: 20px*/
}

.review-container {
  border-bottom: 1px solid #e0e0e0;
  /*font-size: 20px*/
}

.answer-container {
  border-bottom: 1px solid #e0e0e0;
  /*font-size: 20px*/
}

.book-container {
  padding: 12px 0 10px 0;
  border-bottom: 1px solid #e0e0e0;
}


#footerleft {
    float: left;
    width:33.333%;
    text-align:left;
}

#footercenter {
    float: left;
    width: 33.333%;
    text-align: center;
}

#footerright {
    float: left;
    width:33.333%;
    text-align:right;
}


a.menu-signin-item {
  font-size: 1.1em;
  margin-right: 10px;
}

/*
 * Globals
 */

/*html {overflow-y: scroll;}*/

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  /*color: #555;*/
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-weight: normal;*/
  color: #333;
}

.centeredImage {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}

/***************************************************/

.menu {
    text-align: justify;
    padding-bottom: 0.2em;
    margin-bottom: 0.8em;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}

.menu-right {
  margin-bottom: 0.1em;
  margin-right: -30px;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.menu-item-li {
  display: inline-block;
  vertical-align: bottom;
}

.menu-item {
  padding-right: 30px;
}

.sub-header-menu-item {
  font-size: 1em;
  font-weight: 100;
}

.user-menu-item,
.book-menu-item,
.books-menu-item,
.question-menu-item,
.questions-menu-item
 {
  font-size: 1em;
  font-weight: 100;
}

/*.menu-item.active {
  font-size: 26px;
  font-weight: 580;
}
*/
.user-menu-item.active,
.book-menu-item.active,
.books-menu-item.active,
.question-menu-item.active,
.questions-menu-item.active,
.sub-header-menu-item.active {
  font-size: 1.3em;
  /*font-size: 21px;*/
  font-weight: 300;
}

a.menu-item {
  /*color: #333333;*/
  color: gray;
  text-decoration: none;
}
a.menu-item.active {
  color: #333333;
  text-decoration: none;
}

.sub-menu-item,
.header-menu-item {
  font-size: 1.2em;
  font-weight: 100;
}

.sub-menu-item.active,
.header-menu-item.active {
  font-size: 1.6em;
  font-weight: 300;
}

a.header-menu-item {
  color: gray;
  text-decoration: none;
}
a.header-menu-item.active {
  color: #333333;
  text-decoration: none;
}

.button-read {
  color: darkred;
}

.menu-item.button-read {
  font-size: 1.3em;
  color: darkred;
}

.menu-item.button-read-unavailable {
  font-size: 1.3em;
  color: grey;
}


.nav-search {
  margin-left: 40px
}

.btn-search {
  margin-top: -3px;
  margin-left: -12px;
}

.search-bar {
  width: 70%;
  margin: 0 auto;
}

.search-item {
  display: inline-block;
}

.avatar-image {
  width: 110px;
  margin: auto;
}

.book-card-field {
  color: grey;
  margin-right: 4px
}

.book-entry {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.authors {
  /*margin-left: 80px*/
}

.description {
  display: none
}

.title {
  margin-top: 10px;
}

#page-signout {
  display: none;
}



/*SIGN IN*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



/***************************************************/

.post-title {
  font-size: larger;
}

#post-show-button {
  outline: none;
}
#post-show-button.active,
#post-show-button.active:focus {
  background-color: #e6e6e6;
  border-color: #adadad;
}

#post-show-button:focus {
  background-color:transparent;
}


/***********************************************************/
/*pagedown*/

blockquote {
  border-left: 2px dotted #888;
  padding-left: 5px;
  background: #d0f0ff;
}

.wmd-panel
{
  /*margin-left: 5%;*/
  /*margin-right: 30%;*/
  width: 100%;
  /*min-width: 500px;*/
}

.wmd-button-bar
{
  width: 100%;
  /*background-color: Silver;*/
}

.wmd-input
{
  height: 200px;
  /*width: 100%;*/
  /*background-color: Gainsboro;*/
  border: 1px solid DarkGray;
}

.wmd-preview
{
  /*background-color: aliceblue; */
  /*background-color: LightGrey; */
  padding: 2px;
  /*border: 1px solid LightGray;*/
}

.wmd-button-row
{
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 0px;
  height: 20px;
}

.wmd-spacer
{
  width: 1px;
  height: 20px;
  margin-left: 14px;

  position: absolute;
  background-color: Silver;
  display: inline-block;
  list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(../img/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}

.wmd-prompt-background
{
  background-color: Black;
}

.wmd-prompt-dialog
{
  border: 1px solid #999999;
  background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
  font-size: 0.8em;
  font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
  border: 1px solid #999999;
  color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
  border: 1px solid #888888;
  font-family: trebuchet MS, helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}

.question-votes p {
  cursor: pointer;
  margin: 0;
  text-align: center;
}

.question-votes div {
  text-align: center;
  font-size: large;
}

.question-votes div.positive {
  color: green;
}

.question-votes div.negative {
  color: darkRed;
}

.question-votes i {
  font-weight: normal;
  display: block;
  text-align: center;
  padding-right: 0;
  color: #999;
  cursor: pointer;
}

.question-votes i.active {
  color: #333;
}

.question-votes .glyphicon-arrow-down {
  margin-top: 1px;
}
