<!-- Book card for editing template -->

<div class='container book-entry' id='<%=id%>'>
  <div class='row'>
      <img class='books-card-image' style='margin-bottom: 20px;' src="http://reslib.org/pict/<%= picture %>" alt="">
      <div style='display: inline;'>
        <div>

          <form class="form-inline" role="">
            <span id='book-edit-title-a' style='margin-left: 10px'>
                <h4><a> <%= title %> </a></h4>
              </span>
            <span id='book-edit-title-input' style='display: none'>
              <div class="form-group">
                <input type="text" class="form-control input-bg" placeholder="<%= title %>" style='width:500px'>
              </div>
              <a type='submit' style='margin-left: 10px'>save</a>
              <a id='book-edit-title-cancel' style='margin-left: 7px'>cancel</a>
            </span>
          </form>

          <form class="form-inline" role="">
            <big> Author(s): </big>
            <span id='book-edit-authors-a' style='margin-left: 10px'>
                <a> <%= authors %> </a>
              </span>
            <span id='book-edit-authors-input' style='display: none'>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="<%= authors %>" style='width:300px'>
              </div>
              <a type='submit' style='margin-left: 10px'>save</a>
              <a id='book-edit-authors-cancel' style='margin-left: 7px'>cancel</a>
            </span>
          </form>

        </div>
      </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <h4> Description: </h4>
  </div>
</div>
