<!-- Book card -->

<div class='row book-entry'>
  <div class='col-xs-8 col-xs-offset-2'>
    <ul class="nav nav-tabs nav-report" style='margin-bottom: 0.5em'>
      <li class='report-open active' role="presentation">
        <a role="tab" data-toggle="tab"><%- label_wont_open %></a>
      </li>
      <li class='report-copyright' role="presentation">
        <a role="tab" data-toggle="tab"><%- label_copyright %></a>
      </li>
      <li class='report-other' role="presentation">
        <a role="tab" data-toggle="tab"><%- label_other %></a>
      </li>
    </ul>

    <!-- <div style='padding: 0em 0.5em 0em 0.5em;'> -->
    <div>
      <div style='margin-top: 0.5em; margin-bottom: 0.5em;'>
        <div class='text-report text-report-open' style='display: none;'>
          <%- label_help_wont_open %>
        </div>
        <div class='text-report text-report-copyright' style='display: none;'>
          <%- label_help_copyright %>
        </div>
        <div class='text-report text-report-other' style='display: none;'>
          <%- label_help_other %>
        </div>
      </div>

      <div class='form-group'>
        <textarea class="form-control report-message" rows="3" style='margin-bottom: 0.5em;'></textarea>
      </div>

      <button type='submit' class='btn btn-default button-report'><%- label_submit %></button>
      <span class="report-ok glyphicon glyphicon-ok" aria-hidden="true" style='margin-left: 0.5em; display: none;'></span>

      <div class='alert alert-danger report-error' style='margin-top: 0.5em; display: none;'>
        <%- label_submit_error %>
      </div>
    </div>

  </div>
</div>
