<!-- Book card -->

<div class='row book-entry' itemscope itemtype='http://schema.org/Book'>
  <div class='hidden-xs col-sm-4'>
    <div style=''>
      <a>
        <img class='img-rounded' style='width: 100%;' src="http://reslib.org/pict/<%= picture %>" alt="" itemprop='image'>
      </a>
    </div>
  </div>
  <div class='col-xs-12 col-sm-8'>
    <h4>
      <span itemprop='name'><%= title %></span>
      <small>
        (<span itemprop='datePublished'><%=year%></span>)
      </small>
      <i id='favorite-button' class="fa fa-bookmark<% if (!isFavorite) {%>-o<%}%> fa-1x"></i>
    </h4>
    <span class='book-card-field'> <%= label_author %>: </span>
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <% for( var i = 0; i < authors.split().length; ++i) { %>
          <span itemprop="name"><%= authors.split()[i].trim() %></span>
      <% } %>
        </span>
    <div>
      <span class='book-card-field'> <%= label_publisher %>: </span>
      <span itemprop='publisher'><%=publisher%></span>
    </div>
    <div>
      <span class='book-card-field'> ISBN: </span>
      <span itemprop='isbn'><%= isbn10 || isbn13 %></span>
    </div>
    <div>
      <span class='book-card-field'> <%= label_pages %>: </span>
      <span itemprop='numberOfPages'><%= pages %></span>
    </div>

    <% if (description) {%>
      <div class='well' itemprop='description'><%= description %></div>
    <% } %>

    <div itemprop='url' style='display: none;'>http://reslib.org/books/<%= id %>/</div>

  </div>
</div>
