<div class='col-xs-3' style='height: 400px;'>

<div class='row' style='height: 100px;'>
  <div class='col-xs-8 col-xs-offset-2'>
    <div style='min-height: 100%; width: auto;'>
      <a href='/books/<%= id %>/'><img class='img-responsive' src="http://reslib.org/pict/<%= picture %>" alt=""></a>
    </div>
    <!-- <div class='image-box' style='background-image: "http://reslib.org/pict/<%= picture %>"; background-repeat: no-repeat; background-size: contain;'> -->
      <!-- <a href='/books/<%= id %>/'><img class='img-responsive' src="http://reslib.org/pict/<%= picture %>" alt=""></a> -->
    <!-- </div> -->
  </div>
</div>

<!-- <div class='row' style='height: 100px; display: none;'> -->
<div class='row' style='height: 100px;'>

  <div style='display: none;'>
    <a href='/books/<%= id %>/'><img class='img-responsive' src="http://reslib.org/pict/<%= picture %>" alt=""></a>
  </div>

  <div class='col-xs-12'>
      <div class='title'><h5> <a href='/books/<%= id %>/'><%= title %></a> </h5></div>
      <div class='authors'>
        <h5>
          <% for( var i = 0; i < authors.split(', ').length; ++i) { %>
              <span><a href='/books/search/<%= authors.split(', ')[i] %>'><%= authors.split(', ')[i] %></a></span>
          <% } %>
        </h5>
      </div>

<!--       <div>
        <%= description %>
      </div>
 -->
   </div>
<!--   <div class='col-xs-1 text-center'>
    <i id='favorite-button' class="fa fa-bookmark<% if (!isFavorite) {%>-o<%}%> fa-2x"></i>
    <% if (error) { %>
    <p class='error-favorites' style=''>please, <a href='/signin/'>sign in</a></p>
    <% } %>
  </div>
 -->
 </div>
</div>
