<!-- Book card -->

<div class='row book-entry'>
  <div class='hidden-xs col-sm-4'>
    <div style=''>
      <a>
        <img class='img-rounded' style='width: 100%;' src="http://reslib.org/pict/<%= picture %>" alt="">
      </a>
    </div>
  </div>
  <div class='col-xs-12 col-sm-8'>
    <h4> <%= title %> <small>(<%=year%>)</small>
      <i id='favorite-button' class="fa fa-bookmark<% if (!isFavorite) {%>-o<%}%> fa-1x"></i>
    </h4>
    <span class='book-card-field'> <%= label_author %>: </span>
    <% for( var i = 0; i < authors.split().length; ++i) { %>
      <%= authors.split()[i] %>
    <% } %>
    <div>
      <span class='book-card-field'> <%= label_publisher %>: </span>
      <%=publisher%>
    </div>
    <div>
      <span class='book-card-field'> ISBN: </span>
      <%= isbn10 || isbn13 %>
    </div>

    <% if (description) {%>
      <div class='well'><%= description %></div>
    <% } %>

  </div>
</div>
