<!-- Book card -->

<div class='row book-entry'>
  <div class='col-xs-8 col-xs-offset-2'>

  <div>  <!-- style='border: 1px solid #eee'> -->
    <ul class="nav nav-tabs nav-report" style='margin-bottom: 0.5em'>
      <li class='report-open active' role="presentation">
        <a role="tab" data-toggle="tab">this book doesn't open</a>
      </li>
      <li class='report-copyright' role="presentation">
        <a role="tab" data-toggle="tab">copyright infringement</a>
      </li>
      <li class='report-other' role="presentation">
        <a role="tab" data-toggle="tab">other</a>
      </li>
    </ul>

    <div style='margin-bottom: 0.5em'>
      <div class='text-report text-report-open' style='display: none;'>
        Describe what happens when you try to open it.
      </div>
      <div class='text-report text-report-copyright' style='display: none;'>
        Please provide confirmation that you are eligible for such claim.
      </div>
      <div class='text-report text-report-other' style='display: none;'>
        Describe your problem.
      </div>
    </div>

    <textarea class="form-control" rows="3" style='margin-bottom: 0.5em;'></textarea>

    <button type='submit' class='btn btn-default button-report'>submit</button>
  </div>

  </div>
</div>
