<div class='col-xs-3'>
<div class='row' style='height: 200px;'>
  <div>
    <a href='/books/<%= id %>/'><img class='img-responsive' src="http://reslib.org/pict/<%= picture %>" alt=""></a>
  </div>
  <div class='col-xs-11'>
      <div class='title'><h5> <a href='/books/<%= id %>/'><%= title %></a> </h5></div>
      <div class='authors'>
        <h5>
          <% for( var i = 0; i < authors.split(', ').length; ++i) { %>
              <span><a href='/books/search/<%= authors.split(', ')[i] %>'><%= authors.split(', ')[i] %></a></span>
          <% } %>
        </h5>
      </div>

      <div>
        <%= description %>
      </div>
  </div>
  <div class='col-xs-1 text-center'>
    <i id='favorite-button' class="fa fa-bookmark<% if (!isFavorite) {%>-o<%}%> fa-2x"></i>
    <% if (error) { %>
    <p class='error-favorites' style=''>please, <a href='/signin/'>sign in</a></p>
    <% } %>
  </div>
</div>
</div>
