<!-- Question list entry template -->

<div class='row question-container'>
<div class='col-xs-12'>
  <div class='row'>
    <div class='col-xs-2'>
      <div class='question-stats' style='margin-top: 0.5em;'>
        <div class='row'>
          <div class='col-xs-6'>
            <div class='question-votes text-center' style=''>
              <div class='text-center' style='font-size: large'>
                <%= rating %>
              </div>
              <div>
                votes
              </div>
            </div>
          </div>
          <div class='col-xs-6'>
            <div class='question-answers text-center' style=''>
              <div class='text-center' style='font-size: large'>
                <%= answersCount %>
              </div>
              <div>
                answers
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='col-xs-10'>
      <div style='display: block; float: left'>
        <div class='title'>
          <h4>
            <div>
              <a href='/questions/<%= id %>/'><%= title %></a>
            </div>
            <% if (book) { %>
            <div>
            <small>
              <div class='truncate'>
                about <i> <strong> <a  href='/books/<%= book.id %>/questions/'><%= book.title %></a> </strong> </i>
              </div>
            </small>
            </div>
            <% } %>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-12'>
      <div style='display: inline-block; float: right'>
        <div class='authors'>
          <h5 >  by <i> <strong> <%= user.nickname %> </strong> </i> on <%= (new Date(date)).toDateString() %> </h5>
        <!-- <div class='content'> <h5> <p> <%= body %> </p> </h5> </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
