<!-- Question card -->

<div class=''>
  <div class='row'>
    <div class='col-xs-2'>
      <img class='avatar-image' src="/img/avatar.png" alt="">
    </div>
    <div class='col-xs-10'>
      <div class='title'><h4> <%= title %> </h4></div>
      <div class='content'> <h5> <p> <%= body %> </p> </h5> </div>
    </div>
  </div>
  <div class='row'>
    <div class='authors' style='float: right'>
      <h5>  by <i> <strong> <%= user.nickname %> </strong> </i> on <%= (new Date(date)).toDateString() %> </h5>
    </div>
  </div>
</div>
  <div class="answerForm">
  </div>