<div class='row text-center' style="margin-top: 20px;">
  <h3>
    <!-- Your can have your favorite books here. -->
    <%= label_h1 %>
    <small> <%= label_small %> <i class='fa fa-bookmark-o fa-lg'></i> <%= label_icon %> </small>
    <!-- <small> To add book to favorites click <i class='fa fa-bookmark-o fa-lg'></i> icon </small> -->
  </h3>
  <h4 style='margin-top: 20px'> <%= label_bottom %> <a href='/signin/'><%= label_signin %></a> <%= label_or %> <a href='/signup/'><%= label_signup %></a>! </h4>
</div>