<div class='row text-center' style="margin-top: 20px;">
  <h3>
    You can always find books you <span class='button-read'>read</span> here.
    <small> Only works when you are logged in! </small>
    <!-- <small> Books will automatically appear here when you click <span style='color:red'>read</span> </small> -->
    <!-- <small> But you have to be logged in so we can keep track of them for you!</small> -->
  </h3>
  <h4 style='margin-top: 20px'>And don't forget to <a href='/signin/'>sign in</a> or <a href='/signup/'>sign up</a>! </h4>
</div>