<!-- Review post form -->

<div class='review-container'>
  <div class='row'>
    <div class='col-xs-2'>
      <img class='avatar-image' src="/img/avatar.png" alt="">
    </div>
    <div class='col-xs-10'>
      <div class='row'>
        <div class='form'>
          <div class="form-group form-title">
            <div class="col-xs-9">
              <input type="text" class="form-control post-title" id="inputError1" placeholder='<%= label_invitation_title %>'>
            </div>
            <div class="col-xs-3">
              <label class="control-label error-title" for="inputError1" style='font-size: larger; display: none;'>Please add title</label>
            </div>
          </div>
        </div>
      </div>
      <div class='post-input' style='display:none'>
        <div class='row'>
          <div class='form'>
            <div class="form-group form-body">
              <div class='col-xs-9'>
                <div class='wmd-panel'>
                  <div id='wmd-button-bar'></div>
                  <textarea type='text' class='wmd-input form-control' style='min-height: 200px' id='wmd-input'> </textarea>
                </div>
              </div>
              <div class="col-xs-3">
                <label class="control-label error-body" for="wmd-input" style='font-size: larger; display: none; margin-top:40px '>Please add something</label>
              </div>
            </div>
          </div>
        </div>

        <div class='row' style='margin-top: 5px'>
          <div class='col-xs-9'>
            <div class='wmd-panel wmd-preview' style='border: 1px solid #e0e0e0;' id='wmd-preview'></div>
          </div>
        </div>

        <a id='post-button' style='font-size: larger'><%= label_send %></a>
        <a class='button-cancel' style='font-size: larger; margin-left: 5px'><%= label_cancel %></a>
      </div>
    </div>
  </div>
</div>
