<!-- Review post form -->

<div class='container review-container'>
  <div class='row'>
    <img class='avatar-image' src="/img/avatar.png" alt="">
    <div style='display: inline-block; margin-left: +15px; width: 60%;'>
      <div class='row'>
        <textarea id='post-title' class='post-title' style="vertical-align: bottom" placeholder='Title'></textarea>
      </div>
      <div class='row'>
        <div class='wmd-panel'>
          <div id='wmd-button-bar'></div>
          <textarea class='wmd-input' id='wmd-input'></textarea>
        </div>
      
        <div class='wmd-panel wmd-preview' id='wmd-preview'></div>

        <a id='post-button' style='font-size: larger'> Send </a>
        <div style='margin-left: 20%'>
      </div>
    </div>
  </div>
</div>
