<div id='signInHeader' style='margin-top: 15px'>
  <div class='row'>
    <div class='col-xs-4 col-xs-offset-4'>
      <img class='img-responsive' style='margin: auto; width: 160px' src='/img/logo.png' alt="Logo">
    </div>
    <div class='col-xs-4 text-right'>
      <a class='menu-signin-item' id='page-nickname' href="/user/"><%- nickname %></a>
      <a class='menu-signin-item' id='page-signup' href="/signup/"><%- label_signup %></a>
      <a class='menu-signin-item' id='page-signin' href="/signin/"><%- label_signin %></a>
      <a class='menu-signin-item' id='page-signout' href="/signout/"><%- label_signout %></a>
      <a class='menu-signin-item' id='page-old' href="http://old.reslib.org"><%- label_old %> reslib.org</a>
      <a class='menu-signin-item locale'></a>
    </div>
  </div>
</div>
