<div id="footerleft"><p></p></div>
<div id="footercenter"><img src='/img/logo.png' alt="Logo"></div>
<div id="footerright"><p>
  <a class='menu-signin-item' id='page-nickname' href="/user/"><%= nickname %></a>
  <a class='menu-signin-item' id='page-signup' href="/signup/"><%= label_signup %></a>
  <a class='menu-signin-item' id='page-signin' href="/signin/"><%= label_signin %></a>
  <a class='menu-signin-item' id='page-signout' href="/signout/"><%= label_signout %></a>
  <a class='menu-signin-item locale'></a>
</p></div>
