<div class='row'>
  <div class='col-sm-8'>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="input-title" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control input-title" value='<%= fullname %>' id="input-title" placeholder="<%= fullname %>">
        </div>
      </div>
      <div class="form-group">
        <label for="input-authors" class="col-sm-2 control-label">Nickname</label>
        <div class="col-sm-10">
          <input type="text" class="form-control input-authors" value='<%= nickname %>' id="input-authors" placeholder="<%= nickname %>">
        </div>
      </div>
      <div class="form-group">
        <label for="input-authors" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control input-authors" value='<%= address %>' id="input-authors" placeholder="<%= address %>">
        </div>
      </div>
      <div class="form-group">
        <label for="input-authors" class="col-sm-2 control-label">Profession</label>
        <div class="col-sm-10">
          <input type="text" class="form-control input-authors" value='<%= profession %>' id="input-authors" placeholder="<%= profession %>">
        </div>
      </div>
      <div class="form-group">
        <label for="input-authors" class="col-sm-2 control-label">Education</label>
        <div class="col-sm-10">
          <input type="text" class="form-control input-authors" value='<%= education.name %>' id="input-authors" placeholder="<%= education.name %>">
        </div>
      </div>
    </form>
  </div>

</div>
